* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

nav {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(images/backnack.jpg);
  background-size: cover;
  background-position: center;
  color: white;


}

.nav-items{
  width: 85%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
  cursor: pointer;
}
.nav-items ul li{
   list-style: none;
   display: inline-block;
   margin: 0 40px;
   position: relative;
   color: white;

}

.nav-items ul li::after{
    content: '';
    height: 2px;
    width: 100%;
    background: #000000;
    position: absolute;
    color: white;
    left: 0;
    bottom: -10px;
}
.nav-items ul li:hover::after{
   width: 0;
   transition: 0.2s;
   color: white;

}


.cont{
position: absolute;
  bottom: 300px;
color: white;
  left: 10%;

}

.cont h1{
  font-size: 160px;
  color: white;
  font-weight: 500;
}


.cont a{
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

.cont a:hover{
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #fff;
}



.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  padding: 0rem 2rem;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-left p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: #000000;
  background: #fff;
  cursor: pointer;
  border-radius: 50px;
}

button:hover {
  background: #ff0;
  color: #000;
}
.hero {
  background: #000000;
}
.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.hero-image {
  width: 80%;
  height: 80%;
}
.items {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: space-around;
}

.item {
color: white;
  width: 25%;
  margin: 10px;
}

.item img {
  width: 100%;
}

.item h3 {
color: white;
  margin-top: 0;
}

.item p {
color: white;
  margin-top: 5px;
}

.item a {
  text-decoration: none;
  color: white;
}

.item a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}



